<footer id="footer">
    <div class="footer-nav four-columns">
        <div class="wrapper">
            <section class="footer-section first odd"><nav class="open"><ul><li class="footerimage"><a href="/"><img alt="McKesson logo" src="/img/svg/mck_logo_blue.svg"></a></li><li class="link even"><a href="/Customer-Login/">LOGINS</a></li></ul></nav></section><section class="footer-section even" style="padding-top: 0px;"><nav><ul><li><span>About McKesson</span></li><li class="link even"><a href="/About-McKesson/">About Us</a></li><li class="link odd"><a href="/About-McKesson/McKesson-Values/">Our Values</a></li><li class="link even"><a href="/Contact-Us/">Contact Us</a></li><li class="link odd"><a href="/About-McKesson/Impact/McKesson-Foundation/">McKesson Foundation</a></li><li class="link even"><a href="/About-McKesson/Impact/">Sustainability and ESG</a></li><li class="link odd"><a href="/About-McKesson/Executive-Officers/">Our Leadership</a></li><li class="link even"><a href="/About-McKesson/Public-Affairs/">Public Affairs</a></li><li class="link odd"><a href="/About-McKesson/Newsroom/">Newsroom</a></li><li class="link even"><a href="/Contact-Us/Connect-With-McKesson/">Connect with McKesson on Social Media</a></li></ul></nav><nav><ul><li><span>Careers</span></li><li class="link even"><a href="/Careers/">Find A Job</a></li><li class="link odd"><a href="/Careers/Student-Opportunities/">Student Opportunities</a></li><li class="link even"><a href="/About-McKesson/Impact/Inclusion-and-Diversity/">Diversity, Equity &amp; Inclusion</a></li></ul></nav><nav><ul><li><span>Popular Solutions</span></li><li class="link even"><a href="/Medical-Supplies/">Medical Supplies</a></li><li class="link odd"><a href="/Pharmaceutical-Distribution/">Pharmaceutical Distribution</a></li><li class="link even"><a href="/Pharmaceutical-Distribution/Specialty-Distribution/">Specialty Drug Distribution</a></li><li class="link odd"><a href="https://join.healthmart.com/" class="CTAExternal">Health Mart Independent Pharmacy</a></li><li class="link even"><a href="/Pharmacy-Management/">Pharmacy Services &amp; Technology</a></li><li class="link odd last"><a href="/About-McKesson/Businesses/Oncology-Ecosystem/">Oncology Ecosystem</a></li></ul></nav></section><section class="footer-section odd" style="padding-top: 0px;"><nav><ul><li><span>Resources</span></li><li class="link even"><a href="/Biopharma/Resources/">Biopharma Resources</a></li><li class="link odd"><a href="/Pharmacy-Management/Health-Systems/Prescribed-Perspectives/">Health System Resources</a></li><li class="link even"><a href="/Pharmacy-Management/Resources/">Pharmacy Management Resources</a></li><li class="link odd"><a href="/Resources/Biosimilars/">Explainer: Biosimilars</a></li><li class="link even"><a href="/Resources/Medication-Dispensing/">Explainer: Medication Dispensing</a></li></ul></nav><nav><ul><li><span>Customer Ordering</span></li><li class="link even"><a href="https://connect.McKesson.com/portal/site/smo/template.LOGIN/?cid=mckcom" class="CTAExternal">Pharmaceuticals: Branded &amp; Generic</a></li><li class="link odd"><a href="https://mscs.mckesson.com/CustomerCenter/MckessonWebStore.html#PRELOGIN_VIEW" class="CTAExternal">Specialty and Oncology Drugs</a></li><li class="link even"><a href="https://mms.mckesson.com/shop-products?utm_campaign=mms+footer+links&amp;utm_source=McKesson.com&amp;utm_medium=referral" class="CTAExternal">Medical Supplies &amp; Equipment</a></li><li class="link odd last"><a href="https://www.simplymedical.com/" class="CTAExternal">Homecare Products for Consumers</a></li></ul></nav><nav><ul><li><span>Investors</span></li><li class="link even"><a href="https://investor.mckesson.com/financials/quarterly-results/default.aspx" class="CTAExternal">Financials</a></li><li class="link odd"><a href="https://investor.mckesson.com/news/default.aspx" class="CTAExternal">Financial News</a></li><li class="link even"><a href="https://investor.mckesson.com/events-and-presentations/default.aspx" class="CTAExternal">Events &amp; Presentations</a></li><li class="link odd"><a href="https://investor.mckesson.com/stock-information/default.aspx" class="CTAExternal">Stock Information</a></li><li class="link even"><a href="/Investors/Corporate-Governance/">Corporate Governance</a></li><li class="link odd last"><a href="https://investor.mckesson.com/resources/investor-faqs/default.aspx" class="CTAExternal">Investor Resources</a></li></ul></nav></section><section class="footer-section even" style="padding-top: 0px;"><nav><ul><li><span>Our Businesses</span></li><li class="link even"><a href="/About-McKesson/Businesses/McKesson-Pharmaceutical/">U.S. Pharmaceutical</a></li><li class="link odd"><a href="/About-McKesson/Businesses/McKesson-Medical-Surgical/">Medical-Surgical</a></li><li class="link even"><a href="/Specialty/">Specialty Health</a></li><li class="link odd"><a href="/About-McKesson/Businesses/McKesson-Pharmacy-Systems/">Pharmacy Systems</a></li><li class="link even"><a href="/About-McKesson/Businesses/Prescription-Automation/">Prescription Automation</a></li><li class="link odd last"><a href="/About-McKesson/Businesses/CoverMyMeds/">CoverMyMeds</a></li></ul></nav><nav><ul><li><span>McKesson International</span></li><li class="link even"><a href="https://www.McKesson.ca/" class="CTAExternal">McKesson Canada</a></li></ul></nav><nav><ul><li class="link odd first"><span><a href="http://ventures.McKesson.com/" class="CTAExternal">McKesson Ventures</a></span></li></ul></nav></section><section class="footer-section odd" style="padding-top: 0px;"></section><section class="footer-section even" style="padding-top: 0px;"></section><section class="footer-section last odd" style="padding-top: 0px;"></section>
        </div>
    </div>

    <div class="footer-disc">
        <div class="wrapper">



            <div class="disc">
                <nav>
                    <ul class="cl">
                        <li><a href="/Contact-Us/">Contact Us</a></li>
                        <li><a href="/Privacy-Notice-Summary/  ">Privacy Notice</a></li>
                        <li><a href="https://privacyportal.onetrust.com/webform/599133ba-bafa-4e24-8173-6e59b6c96dab/f081c4ff-0e3b-4d07-a79f-30effc0fc255" class="CTAExternal">Do Not Sell My Information</a></li>
                        <li><a href="javascript:Optanon.ToggleInfoDisplay()" class="CTAExternal">Cookie Settings</a></li>
                        <li><a href="/Disclaimer/">Disclaimer</a></li>
                        <li><a href="/About-McKesson/Patents/">Patents</a></li>
                        <li><a href="/Cybersecurity/">Cybersecurity</a></li>
                        <li><a href="/Site-Map/">Site Map</a></li>
                    </ul>
                </nav>

                <p class="copyright">© 2023 McKesson Corporation</p>
            </div>
            <div class="footer-socialbar">
                <section id="ctl00_ctl00_Footer2_EmailSocialConnectivity1_emailSocialConnectivity" class="section social-footer no-padding">
                    <div id="ctl00_ctl00_Footer2_EmailSocialConnectivity1_bgImage">
                        <div class="overlay">
                            <div class="wrapper">
                                <div id="divSignup">


                                    <div class="social-icons"><ul><li class="linkedin"><a href="https://www.facebook.com/McKessoncorporation" class="CTAExternal"><img src="/uploadedImages/McKessoncom/Content/Images/Social/facebook.png?n=2266" alt="facebook"></a></li><li class="linkedin"><a href="https://www.linkedin.com/company/McKesson" class="CTAExternal"><img src="/uploadedImages/McKessoncom/Content/Images/Social/linkedin.png?n=8742" alt="linkedin"></a></li><li class="linkedin"><a href="https://twitter.com/McKesson" class="CTAExternal"><img src="/uploadedImages/McKessoncom/Content/Images/Social/twitter.png?n=5356" alt="twitter"></a></li><li class="linkedin"><a href="https://www.instagram.com/McKessoncorporation/" class="CTAExternal"><img src="/uploadedImages/McKessoncom/Content/Images/Social/instagram.png?n=4592" alt="Instagram"></a></li></ul></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</footer>