<header id="ctl00_ctl00_Header1_header_menu" class="header">
    <ul id="skiptocontent">
        <li>
            <a href="#main-content" class="CTAExternal">Skip to content</a>
        </li>
        <li>
            <a href="#footer" class="CTAExternal">Skip to footer</a>
        </li>
    </ul>
    <div class="wrapper">
        <div id="navbar" class="navbar col-sm-12">
            <div class="navbar-header">

                <a class="brand" href="/"><img id="whitelogo" alt="McKesson logo" src="/img/svg/logo.svg" style="top:3px;position: absolute;width:123px;z-index:9999999">'); McKesson</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav">
                    <li><a href="/About-McKesson/">About Us</a></li>
                    <li><a href="/Our-Stories/">Our Stories</a></li>
                    <li><a href="/Careers/">Careers</a></li>
                    <li><a href="https://investor.McKesson.com/" class="CTAExternal">Investors</a></li>
                    <li><a href="/Contact-Us/">Contact Us</a></li>
                    <li><a href="/Customer-Login/">Logins</a></li>

                </ul>
            </div>
            <div id="search">
                <div id="search-status" role="status" aria-live="polite"></div>

                <span id="clear-search" class="clear-search"></span>
                <label for="search-field" style="opacity: 1;">Search</label>

                <input id="search-field" type="text" name="search" value="" autocapitalize="off" autocomplete="off" role="combobox" aria-expanded="false" spellcheck="false" data-ms-editor="true"><button id="search-button" class="button" type="button">Search</button><div id="sayt-view" style="height: 0px;"><div id="sayt-keywords" class="sayt-container sayt-container-1 " data-sayt-container="1" data-sayt-row="1" data-sayt-column="2" style=""></div><div id="sayt-links" class="sayt-container sayt-container-2 " data-sayt-container="2" data-sayt-row="2" data-sayt-column="1" style=""></div></div>





            </div>
        </div>

        <div id="primary-bar" role="navigation" aria-label="main">
            <div id="functions" class="">
                <div id="browse-bar">
                    <div id="browse-tab0" class="browse-tab all">
                        <div id="trigger" data-target="#myModal" data-backdrop="static" data-keyboard="false" class="trigger" style="position: absolute;z-index: 9999999;">
                            <span class="browse">Solutions&nbsp;</span>
                            <img class="browse" alt="right arrow" src="/uploadedImages/McKessoncom/Content/Images/Arrows/nav-right-arrow.png">
                        </div>

                    </div>

                    <div id="browse-tab1" class="browse-tab all">
                        <div id="trigger" data-target="#myModal" data-backdrop="static" data-keyboard="false" class="trigger" style="position: absolute;z-index: 9999999;">
                            <span class="browse">Solutions&nbsp;</span>
                            <img class="browse" alt="right arrow" src="/uploadedImages/McKessoncom/Content/Images/Arrows/nav-right-arrow.png">
                        </div>
                    </div>
                    <div id="browse-tab2" class="browse-tab all">
                        <div id="trigger" data-target="#myModal" data-backdrop="static" data-keyboard="false" class="trigger" style="position: absolute;z-index: 9999999;">
                            <span class="browse">Solutions&nbsp;</span>
                            <img class="browse" alt="right arrow" src="/uploadedImages/McKessoncom/Content/Images/Arrows/nav-right-arrow.png">
                        </div>
                    </div>
                    <div id="browse-tab3" class="browse-tab all">
                        <div id="trigger" data-target="#myModal" data-backdrop="static" data-keyboard="false" class="trigger" style="position: absolute;z-index: 9999999;">
                            <span class="browse">Solutions&nbsp;</span>
                            <img class="browse" alt="right arrow" src="/uploadedImages/McKessoncom/Content/Images/Arrows/nav-right-arrow.png">
                        </div>
                    </div>
                    <div id="browse-tab4" class="browse-tab all">
                        <div id="trigger" data-target="#myModal" data-backdrop="static" data-keyboard="false" class="trigger" style="position: absolute;z-index: 9999999;">
                            <span class="browse">Solutions&nbsp;</span>
                            <img class="browse" alt="right arrow" src="/uploadedImages/McKessoncom/Content/Images/Arrows/nav-right-arrow.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>